/* BODY */
body{
    display: flex;
    min-height: 100vh;
    flex-direction:column;
    color:black;
    
}

main{
    flex: 1 0 auto; 
}

body, .font{
    font-family: 'Indie Flower', cursive;
}

/* TASKS */

.box{
    height:45px;
    width: auto;
    padding-right: -10px;
}

/* LOGIN */

.login{
    padding-left:100px;
}

/*FOOTER*/
.up{
    height: 50px;
    width: auto;
    margin-bottom: 0;
}