 <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link href="css/ToDoList.css" rel="stylesheet" type="text/css"/> 
      <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
      <link rel="icon" href="data:;base64,iVBORwOKGgo=">
      <title> To Do List</title> 
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body class="grey lighten-2">
      <!--Import jQuery before materialize.js-->
      
     
      
      <header>
          <div class="navbar-fixed">
          <nav class="purple">
              
    <div class="nav-wrapper">
        
      <a href="index.html" class="center brand-logo font">To Do List</a>
      <ul>
          <li><a href="#!" class="add-blog"><i class="material-icons left">library_add</i>Add Task</a></li>
      </ul>
      <ul class="right">
        
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons">more_vert</i></a></li>
    
        <ul id='dropdown1' class='dropdown-content'>
        <li><a class="butt" href="index.html">Home</a></li>
        <li><a class="butt" href="login.html">Login</a></li>
      </ul>
      </ul>
    </div>
          </nav>
          </div>
      </header>
      
      <main>
          <div class="container">
            <div class="row">
                <h2 class="center">Just Do It</h2>
            </div>
            <div class="row">
                <div class="col s12 main-container center">
                    
                </div>
            </div>
        </div>    
      </main>
      
      <footer class="page-footer pink ">
            <div class="container">
               
                <div class="row">
       
      <div class="col s3 offset-s10">
          <span class="flow-text">
              <a href="index.html"><img class="home" src="pics/icon_home.png" alt=""/></a>
              <a href="#"><img class="up" src="pics/up.png" alt=""/></a>
          </span>
      </div>
    </div>
            </div>   
            <div class="footer-copyright">
                <div class="container">
                    @2016 Robinson
                </div>
            </div>
        </footer>
      
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="libs/backendless.js"></script>
      <script type="text/javascript" src="js/ToDoList.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script> 
      <script type="text/javascript" src= "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
      <script type="text/javascript" src="js/handlebars-v4.0.5.js"></script>
     
            <script id="blogs-template" type="text/x-handlebars-template">
               
      {{#each tasks}}
        <div class="blog-post">
             <h2 class="blog-post-title">
            
</a>{{title}}</h2>
              <h6 class="blog-post-meta">At {{format created}}  
            
          <div class="entry">
  {{#if authorEmail}}
   <h5> by {{authorEmail}}</h5>
  {{else}}
    <h5>Anonymous</h5>
  {{/if}}
</div>
           
              <div><h4>{{content}}</h4></div>
            <button class="btn waves-effect waves-light done" type="submit" name="action" data={{objectId}}> check as complete</button>
           <button class="btn waves-effect waves-light trash" type="submit" name="action" data={{objectId}}><i class="material-icons left">delete</i>Delete</button>
           
        {{/each}}  
               
      </script> 
      
      <script id="add-blog-template" type="text/x-handlebars-template">
      <h2>Add New Task</h2>
      <div class="row">
          <form class="col s12 form-add-blog">
              <div class="row">
                  <div class="input-field col s12">
                      <input id="title" type="text" name="title">
                      <label for="title">Title</label>
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s12 ">
                      <textarea id="content" name="content" class="materialize-textarea"></textarea>
                      <label class="content" for="content">Content</label>
                  </div>
              </div>
              <div class="row">
                  <div class="col s12">
                      <p class="right-align">
                          <button class="btn btn-large waves-effect waves-light" type="submit" name="action">Submit</button>
                      </p>
                  </div>
              </div>
          </form>
      </div>
    </script>
    
    <script id="please-login" type="text/x-handlebars-template">
          <h3>Please login to see your tasks</h3>
          <a href="login.html"><button class="btn  btn-large waves-effect waves-light add-blog"><i class="material-icons left">perm_identity</i>Login</button></a>
  </script>
  
    <script id="please-login-tasks" type="text/x-handlebars-template">
          <h3>Please login before you add a new task</h3>
          <a href="login.html"><button class="btn  btn-large waves-effect waves-light add-blog"><i class="material-icons left">perm_identity</i>Login</button></a>
  </script>

<script id="sign-up" type="text/x-handlebars-template">
          <h2>Sign Up</h2>
      <div class="row">
          <form class="col s12 form-add-blog">
              <div class="row">
                  <div class="input-field col s12">
                      <input id="title" type="text" name="email">
                      <label for="title">Email</label>
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s12 ">
                      <textarea id="content" name="content" class="materialize-textarea"></textarea>
                      <label class="content" for="content">Content</label>
                  </div>
              </div>
              <div class="row">
                  <div class="col s12">
                      <p class="right-align">
                          <button class="btn btn-large waves-effect waves-light" type="submit" name="action">Submit</button>
                      </p>
                  </div>
              </div>
          </form>
      </div>
</script>
    <script id="check-done-template" type="text/x-handlebars-template">
                   <div class="white-text">
                   <h4 class="blog-post-meta italic">This todo list has been marked</h4>
                   <button class="btn btn-small waves-effect waves-light white-in-post orange"><a href="index.html"> uncheck</a><button>
                   <button class="btn btn-small waves-effect waves-light white-in-post orange"> <a href="login.html">Log in </a></button>
           
           </div>                    
       </script>
    </body>
  </html>
     